<!DOCTYPE html>
<html lang="da">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title data-ng-bind="page.title + ' - KITOS'">KITOS</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width">

    <link href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css/css")

    @Scripts.Render("~/Scripts/vendor")
    @Scripts.Render("~/Scripts/angular")

    <script src="//kendo.cdn.telerik.com/2016.2.714/js/jszip.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.2.714/js/kendo.web.min.js"></script>
    <!-- Kendo localization -->
    <script src="//kendo.cdn.telerik.com/2016.2.714/js/messages/kendo.messages.da-DK.min.js"></script>
    <!-- Kendo globalization -->
    <script src="//kendo.cdn.telerik.com/2016.2.714/js/cultures/kendo.culture.da-DK.min.js"></script>

    @if (ViewBag.Environment != "Prod")
    {
        if (ViewBag.Environment == "Test")
        {
            <style>
                #navbar-top {
                    background-color: red !important;
                }
            </style>
        }
        else if (ViewBag.Environment == "Sandbox")
        {
            <style>
                #navbar-top {
                    background-color: #444 !important;
                }
            </style>
        }
    }
</head>
<body data-ng-app="app" data-ng-cloak data-ng-strict-di>
    @RenderBody()

    <script>
        // set current culture to "da-DK"
        kendo.culture("da-DK");
    </script>

    @Scripts.Render("~/Scripts/app")
</body>
</html>
