<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta charset="utf-8">
    <title data-ng-bind="page.title + ' - KITOS'">KITOS</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width">
    @Styles.Render("~/Content/cssbundle")
    <link href="/Content/kendo/2015.3.1111/kendo.common-bootstrap.min.css" rel="stylesheet">
    <link href="/Content/kendo/2015.3.1111/kendo.bootstrap.min.css" rel="stylesheet">
    <link href="/Content/kendo/2015.3.1111/kendo.dataviz.min.css" rel="stylesheet">
    <link href="/Content/kendo/2015.3.1111/kendo.dataviz.bootstrap.min.css" rel="stylesheet">

    @if (ViewBag.Environment != "Prod")
    {
        if (ViewBag.Environment == "Test")
        {
            <style>
                #navbar-top {
                    background-color: red !important;
                }
            </style>
        }
        else if (ViewBag.Environment == "Sandbox")
        {
            <style>
                #navbar-top {
                    background-color: #444 !important;
                }
            </style>
        }
    }
</head>
<body data-ng-cloak>
    <div data-notify></div>
    <div id="page-wrapper" class="container-fluid">
        <!-- NAVBAR
            ================================================== -->
        <div data-ng-include="'partials/topnav/topnav.html'"></div>

        <div id="page-content" role="main">

            <div id="subnav" data-ng-include="'partials/subnav/subnav.html'"></div>

            <div id="page-body" data-ui-view="" data-autoscroll="false" data-ng-cloak>
            </div>

            @{/* this doesn't really do anything, but it's necessary to shut up the interpreter */}
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/Scripts/libraries")
    @Scripts.Render("~/Scripts/angular")

    <script src="/Scripts/kendo/2015.3.1111/jszip.min.js"></script>
    <script src="/Scripts/kendo/2015.3.1111/kendo.all.min.js"></script>
    <script src="/Scripts/kendo/2015.3.1111/messages/kendo.messages.da-DK.min.js"></script>
    <script src="/Scripts/kendo/2015.3.1111/cultures/kendo.culture.da-DK.min.js"></script>
    <script>
        // set current culture to "da-DK"
        kendo.culture("da-DK");
    </script>

    @Scripts.Render("~/Scripts/appbundle")
</body>
</html>
