<!DOCTYPE html>
<html lang="da">
<head>
    <meta name="Version" content="@typeof(Presentation.Web.MvcApplication).Assembly.GetName().Version" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title data-ng-bind="page.title + ' - KITOS'">KITOS</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.rtl.min.css">
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.default.min.css">
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.mobile.all.min.css">

    @Styles.Render("~/Content/css/css")

    @Scripts.Render("~/Scripts/vendor")
    @Scripts.Render("~/Scripts/angular")

    <script src="//kendo.cdn.telerik.com/2016.2.714/js/jszip.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.2.714/js/kendo.web.min.js"></script>
    <!-- Kendo localization -->
    <script src="//kendo.cdn.telerik.com/2016.2.714/js/messages/kendo.messages.da-DK.min.js"></script>
    <!-- Kendo globalization -->
    <script src="//kendo.cdn.telerik.com/2016.2.714/js/cultures/kendo.culture.da-DK.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.2.714/js/kendo.all.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.2.714/js/angular.min.js"></script>

    @if (ViewBag.Environment != "Prod")
    {
        if (ViewBag.Environment == "Test")
        {
            <style>
                #navbar-top {
                    background-color: purple !important;
                }
            </style>
        }
    }
</head>
<body data-ng-app="app" data-ng-cloak data-ng-strict-di>
    @RenderBody()

    <script>
        // set current culture to "da-DK"
        kendo.culture("da-DK");
    </script>

    @Scripts.Render("~/Scripts/app")

    <script>
        $(addCrudControls());
 
        function addCrudControls() {
            $('.crud').hide();
            $('.panel').hover(
                function() {
                    $(this).find('.crud').show();
                },
                function() {
                    $(this).find('.crud').hide();
                }
            );
        };
    </script>
    
</body>
</html>
