@model UI.MVC4.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Glemt password?";
}
<div class="container offset">
    <h2>Glemt password?</h2>

    @ViewBag.Message
    <br />

    Indtast din email-addresse for at få tilsendt en email med et link til at nulstille dit password.
    <br />

    <div class="col-md-3">
        @using (Html.BeginForm("ForgotPassword", "Authorize", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
    
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <input type="submit" value="Send nulstillingsemail" class="btn btn-default"/>
        }
    </div>
</div>
