@model UI.MVC4.Models.LoginViewModel

@{
    ViewBag.Title = "Log ind";
}

<h2>Log ind</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    <br/>
    
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <br/>
    
    @Html.CheckBoxFor(m => m.RememberMe)
    @Html.LabelFor(m => m.RememberMe, new {@class = "checkbox"})

    <br/>
    
    <input type="submit" value="Log ind"/>
}