@model UI.MVC4.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Nulstil password";
}

<h2>Nulstil password</h2>

@if (Model == null)
{
    <text>
        Din anmodning om at nulstille dit password kunne ikke findes. Den kan være udløbet eller allerede brugt.<br/>
        Gå til @Html.ActionLink("glemt password?", "ForgotPassword") og prøv igen.       
    </text>
}
else
{
    <text>
        Indtast et nyt password til brugeren tilknyttet @Model.Email
        <br /><br/>
    
        <div class="col-md-3">
            @using (Html.BeginForm("ResetPassword", "Authorize", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.RequestHash)

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <p class="form-control-static">@Model.Email</p>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                <input type="submit" value="Sæt nyt password" class="btn btn-default" />
            }
        </div>

    </text>
}
    