@model UI.MVC4.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Nulstil password";
}

<h2>Nulstil password</h2>
<br />

@if (Model == null)
{
    <text>
        Din anmodning om at nulstille dit password kunne ikke findes. Den kan være udløbet eller allerede brugt.
        Gå til @Html.ActionLink("glemt password?", "ForgotPassword") og prøv igen.        
    </text>
}
else
{
    <text>
        Indtast et nyt password til brugeren tilknyttet @Model.Email
        <br /><br/>
    
        @using (Html.BeginForm("ResetPassword", "Authorize"))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.RequestHash)

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)

            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)

            <input type="submit" value="Sæt nyt password" />
        }

    </text>
}
    