<!DOCTYPE html>
<html lang="en" ng-app="App">
    <head>
        <meta charset="utf-8" />
        <title>{{page.title}} - KITOS</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        
    </head>
    <body>
        <div id="page-wrapper" class="container-fluid">
            <!-- NAVBAR
                ================================================== -->
            <div ng-include="'partials/topnav/topnav.html'"></div>
            
            <div id="page-content" class="row container-fluid" role="main">
                
                <div id="subnav" ng-include="'partials/subnav/subnav.html'"></div>

                <div id="page-body" class="row container-fluid" ng-view>
                    @RenderBody()
                </div>
            </div>
        </div>
        
        @Scripts.Render("~/Scripts/angular")
        @Scripts.Render("~/Scripts/app")

        <script src="@Url.Content("../../Scripts/holder.js")"></script>

        @RenderSection("scripts", required: false)

    </body>
</html>
