<!DOCTYPE html>
<html lang="en" data-ng-app="app">
    <head>
        <meta charset="utf-8" />
        <title>{{page.title}} - KITOS</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        
    </head>
    <body>
        <div data-growl></div>
        <div id="page-wrapper" class="container-fluid">
            <!-- NAVBAR
                ================================================== -->
            <div ng-include="'partials/topnav/topnav.html'"></div>
            
            <div id="page-content" class="row container-fluid" role="main">
                
                <div id="subnav" data-ng-include="'partials/subnav/subnav.html'"></div>

                <div id="page-body" class="row container-fluid" ui-view>
                </div>
                
                @{/* this doesn't really do anything, but it's necessary to shut up the interpreter */}
                @RenderBody()
            </div>
        </div>
        
        @Scripts.Render("~/Scripts/angular")
        @Scripts.Render("~/Scripts/libraries")
        @Scripts.Render("~/Scripts/app")

        @RenderSection("scripts", required: false)

    </body>
</html>
