<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - KITOS</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
        <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet"/>

    </head>
    <body>
        <div id="page-wrapper" class="container-fluid">
            <!-- NAVBAR
                ================================================== -->
            @Html.Partial("_TopNavigation")
            
            <div id="page-content" class="row container-fluid" role="main">
                @RenderBody()
            </div>
            
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/pnotify")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/wysihtml5")
        @Scripts.Render("~/bundles/select2")
        @Scripts.Render("~/bundles/js")

        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/inputs-ext/wysihtml5/wysihtml5.js"></script>
        <script src="@Url.Content("../../Scripts/holder.js")"></script>

        @RenderSection("scripts", required: false)

    </body>
</html>
